{% extends 'base.html' %}

{% block content %}
  {% if user.profile.role == 'student' or user.profile.role == 'instructor' %}
    {% include 'nav.html' %}
  {% endif %}

  <div class="container py-5">
    <!-- Page Header -->
    <div class="text-center mb-5">
      <h2 class="fw-bold">Available Courses</h2>
      <p class="text-muted">Browse our top learning courses</p>
    </div>

    <!-- Courses List -->
    <div class="row g-4">
      <!-- Course 1 -->
      {% for course in courses %}
        <div class="col-md-4">
          <div class="card shadow-sm h-100">
            <div class="card-body">
              <h5 class="card-title">{{ course.title }}</h5>
              <span class="badge bg-primary mb-2">{{ course.category }}</span>

              <p class="card-text">{{ course.description }}</p>

              <p class="mb-1">
                <strong>Teacher:</strong> {{ course.instructor }}
              </p>
              <p class="mb-1">
                <strong>Level:</strong> {{ course.level }}
              </p>

              <small class="text-muted d-block mt-2">Created:{{ course.created_at }}</small>
              <small class="text-muted d-block">Updated:{{ course.updated_at }}</small>

              <a href="{% url 'course-details' course.id %}" class="btn btn-primary w-100 mt-3">View Details</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
